* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 5rem;
  margin: 0 auto;
  max-width: 800px;
}

.settings {
  border-right: 1px dashed #ccc;
  width: 350px;
}

.settings h2 {
  margin-bottom: 1rem;
}

.settings ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.g-select {
  width: 300px;
  border: 1px solid black;
  height: 50px;
  position: relative;
  cursor: pointer;
}

.g-dropdown {
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  border: 1px solid green;
  height: 105px;
  overflow: auto;
  display: none;
}

.g-dropdown.is-open {
  display: block;
}

.g-carret {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid red;
}

.g-label {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.g-option {
  padding: 3px 10px;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
.g-option.is-active {
  background-color: #333;
  color: white;
}

/* .g-option:hover {

} */

.g-option:last-child {
  border-bottom: none;
}